#content {
    max-width: 1600px;
    margin: 0 auto;
}   

nav a {
    text-align: center;
    color: #0a434b;
    text-decoration: none;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #6ebfcc; 
}

header {
    background-color: #b092a1;
}

nav a:hover {
    background-color: #5c5557;
    color: #6FCA1B;
}

.book:hover, .join:hover {
    background-color: #5c5557;
    color: #6FCA1B;
}

#background {
    background-color: #a7fd57;
}

.msg {
    background-color: #b092a1;
}

footer {
    background-color: #b092a1;
    color: #0a434b;
}

.home-title {
    color: #3c3a3b;
}

h4 {
    color:black;
}

.book, .join {
    color: white;
    text-decoration: none;
}

.msg h2 {
    color: #0a434b;
}

.msg p {
    color:#0a434b;
}

footer a {
    color: #0a434b;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

